#pageletHotVideo,#recommWrap,.download-btn,.video-user,.downloadDlg,#download,#bannerBottom{
    display:none !important;
}
.page-reflow-video .list-wrap{
    height:0 !important;
    min-height:0 !important;
}
body{
    margin-bottom:60px;
}