.lite-page-editor{
    display:none;
}
.yuni-down-one, .yuni-down-all{
    z-index:999999999;
}
.mwb-video .mwbv-control-bar{
    bottom:70px !important;
}
.lite-enter-btns .lite-log-in,.lite-enter-btns .lite-sign-in{
    display:none;
}